<header class="navbar navbar-expand-lg navbar-light bg-light border-bottom shadow-sm">
  <div class="container">
    <a
      routerLink="/"
      aria-label="Simple App Home"
      class="navbar-brand fw-bold d-flex align-items-center"
    >
      <span class="text-primary me-1" aria-hidden="true">❤</span> Simple App
    </a>

    <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#appNavbar"
      aria-controls="appNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation menu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <nav id="appNavbar" class="collapse navbar-collapse" aria-label="Main Navigation">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center" role="menubar" appMenubar>
        <li class="nav-item" role="none">
          <a
            routerLink="/books-shell"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            role="menuitem"
            class="nav-link px-3"
          >
            Books
          </a>
        </li>

        <li class="nav-item" role="none">
          <a
            routerLink="/counter"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            role="menuitem"
            class="nav-link px-3"
          >
            Counter
          </a>
        </li>

        @if (store.isPending()) {
        <li class="nav-item dropdown" role="none">
          <div class="spinner-border spinner-border-sm me-2" role="status">
            <span class="visually-hidden">Loading user data...</span>
          </div>
        </li>
        } @else if (store.error()) {
        <li class="nav-item dropdown" role="none">
          <span class="text-warning small" role="alert">
            <i class="bi bi-exclamation-triangle"></i> Login Error
          </span>
        </li>
        } @else if (store.userInfo(); as userInfo){
        <li class="nav-item dropdown" role="none">
          <button
            type="button"
            id="  "
            role="menuitem"
            aria-haspopup="true"
            aria-expanded="false"
            aria-label="User settings"
            data-bs-toggle="dropdown"
            class="btn btn-link dropdown-toggle d-flex align-items-center text-dark text-decoration-none p-0"
          >
            <img aria-hidden="true" class="user-avatar" [src]="userInfo.picture" />
            <span class="fw-medium small d-none d-md-inline ms-1">{{ userInfo.name }}</span>
          </button>

          <ul
            class="dropdown-menu dropdown-menu-end shadow-sm"
            role="menu"
            aria-labelledby="userMenu"
          >
            <li role="none">
              <button
                type="button"
                role="menuitem"
                class="dropdown-item py-2"
                (click)="handleLogout()"
              >
                <i aria-hidden="true" class="bi bi-box-arrow-right me-2"></i> Log Out
              </button>
            </li>
          </ul>
        </li>
        }@else {
        <button
          type="button"
          class="btn btn-primary px-4 btn-login"
          (click)="handleLogin()"
          aria-label="Log in to your account"
        >
          <i class="bi bi-box-arrow-in-right me-1" aria-hidden="true"></i>
          Login
        </button>
        }
      </ul>
    </nav>
  </div>
</header>
