.skip-table-link {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background: #0056b3;
  color: white;
  padding: 10px;
  z-index: 100;
}

.skip-table-link:focus {
  position: static;
  width: auto;
  height: auto;
  left: 0;
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
  border-radius: 4px;
}
