@use 'bootstrap/scss/bootstrap';

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus,
[tabindex]:focus,
.nav-link:focus-visible,
.btn:focus-visible,
.form-control:focus-visible {
  outline: 4px solid lime;
}
